@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --foreground: #0a0a0a;
    --background: #e2ebfc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: cursive, sans-serif;
}

typography {
  font-family: cursive, sans-serif;
}

.logo {
  background-color: var(--background);
}

.landing-logo {
  width: 100%;
  height: 100%;
}

.landing--container {
  position: absolute;
  top: 10%;
  left: 10%;
  /* display: inline-block; */
  font-size: 30px;
}
/* img {
  object-fit: fill;
  width: 10px;
  height: 10px;
} */
